.popup__input {
    padding: 0 0 13px 0;
    display: block;
    border: none;
    border-bottom: 1px solid #ccc;
    width: 100%;

}

@media screen and (max-width: 320px) {
    .popup__input {
        font-size: 14px;
    line-height: 17px;
    }  
}