.popup__content {
    position: absolute;
    box-sizing: border-box;
    margin: 195px 415px 195px 415px;
    transform: translateX(30%);
    min-width: 430px;
    min-height: 330px;
    background: #FFFFFF;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 34px 36px 37px 36px;
}

@media screen and (max-width: 320px) {
    .popup__content {
    min-width: 282px;
    min-height: 322px;
    margin: 0;
    padding: 25px 22px 37px 25px;
    transform: translateX(0%);
    margin-top: 120px;
    }
}
