.popup__close-button {
    background-image: url(../../../image/addButtonPlus.svg);
    background-size: cover;
    color: #FFFFFF;
    position: absolute;
    right: -50px;
    top: -50px;
    width: 40px;
    height: 40px;
    transform: rotate(-45deg);
    cursor: pointer;
    border: none;
    background-color: rgba(0, 0, 0, -0.5);
}
.popup__close-button:hover {
    opacity: 0.6;
}


@media screen and (max-width: 320px) {
    .popup__close-button {
    width: 26px;
    height: 26px;
    right: 0px;
    top: -40px;
    }
      
}

