.profile__info {
    padding-left: 30px;
    display: grid;
    grid-template-columns: 1fr 24px;
    align-items: baseline;
    row-gap: 16px;
    column-gap: 18px;
}

@media screen and (max-width: 320px) {
    .profile__info {
    padding:0;
    grid-template-columns: 1fr 18px;
    row-gap: 14px;
    column-gap: 10px;
    }   
}